h1 {
    text-transform: uppercase;
    color: blue;
    background-color: rgba(117, 223, 107, 0.747);
    font-size: 19px; 
    text-align: center;
    border: 3px solid black; 
  
}
img{
    width: 200px;
    height: 200px;
    margin: left; 
    border-radius: 50%;
}

header {
    margin-left: 20px;
    margin-right: 20px;
    scroll-margin-bottom: 20px;
}
main{
    padding-bottom:  30px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;  

}
footer {
    border: 10px solid green
}
body {
    border:  40px solid rgb(2, 56, 2);
}