h1 {
    text-transform: uppercase;
    color: blue;
    background-color: rgba(230, 176, 95, 0.747);
    font-size: 19px; 
    text-align: center;
    border: 3px solid black; 
  
}
img{
    width: 200px;
    height: 200px;
    margin: left; 
    border-radius: 50%;
}

header {
    margin-left: 20px;
    margin-right: 20px;
    scroll-margin-bottom: 20px;
}
main{
    padding-bottom:  30px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;  

}
#gauche {
    float: left
}
#droite {
    float: right
}
body {
    border:  40px solid rgb(236, 212, 193);
    background-color: rgba(231, 214, 189, 0.747);
    font-family:  sans-serif, Arial, Helvetica; 
}
.barre li {
    border: 2px solid rgb(14, 15, 14); 
    display: inline-block;  
    text-align: center; 
    float: right; 
}